body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}
h1 {
  color: #333;
}
table {
  width: 1000px;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid #000;
}
th,
td {
  padding: 10px;
  text-align: center;
}
th {
  background-color: green;
}
